################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/myhub/FileContentIndex/b8246c05-aaee-4f89-95a0-f2db1f513f78.vsidx
/.vs/myhub/FileContentIndex
/.vs/myhubn/FileContentIndex/1fb64b86-3260-41cf-880d-c2682baff5bc.vsidx
